* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: grayscale;
}
html,
body {
    scroll-behavior: smooth;
}
/* COMMON CSS */
a {
    text-decoration: none;
}
.main-content {
    width: 1170px;
    margin: 0 auto;
    max-width: calc(100% - 48px);
}
.btn {
    display: inline-block;
    width: 144px;
    height: 50px;
    border-radius: 9999px;
    text-align: center;
    background: #171100;
}
/* HEADER */
.header {
}

.wrap_header {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}
.header .nav {
    margin-left: auto;
}
.header .nav ul {
    display: flex;
}

.nav a {
    padding: 6px 21px;
    font-size: 1.6rem;
    color: #5f5b53;
    /* background-color: aquamarine; */
    position: relative;
}

.nav a:hover,
.nav li.active a {
    /* font-weight: 600; */
    color: #171100;
    text-shadow: 1px 0 0 currentColor;
    -webkit-text-stroke: 1px currentColor;
}

.nav li.active a::after {
    content: "";
    display: inline-block;
    width: 12px;
    height: 2px;
    border-radius: 1px;
    background: #171100;
    position: absolute;
    left: 21px;
    bottom: 0;
}
